{% extends 'main.html' %}

{% block content %}

<h1>waiting...</h1>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- jQuery 추가 -->

<script>

    window.onbeforeunload = function () {
        event.defaultPrevented;
        // 페이지가 unload되기 전에 서버에 데이터베이스 업데이트를 요청
        $.ajax({
            url: '/unset_wait/',
            type: 'GET',
            //async: false,
            success: function (data) {
                // 업데이트가 성공하면 아무것도 하지 않음
            },
            error: function () {
                // 업데이트 요청이 실패한 경우에 대한 처리
                alert('waiting 해제 error!')
            }
        });
    }



    function pollForMatch() {
        var pollingInterval = 3000;
        var pollingTimer = setInterval(function () {
            $.ajax({
                url: '/check_match/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.matched) {
                        clearInterval(pollingTimer);
                        window.location.href = data.room_url;
                    }
                },
                error: function () {
                    // 요청에 실패한 경우에 대한 처리를 여기에 추가할 수 있습니다.
                    alert("??")
                }
            });
        }, pollingInterval);
    }


    $(document).ready(function () {
        pollForMatch();
    });



</script>

{% endblock %}
